:root {
  --color-logo: #4d5ae5;
  --color-text-head: #434455;
  --color-text-sec: #2e2f42;
  --color-white-light: #f4f4fd;
  --color-text-hover-focus: #404bbf;
  --bg-color-head: #ffffff;
  --color-border: #e7e9fc;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-head);
  background-color: var(--bg-color-head);
}

/***** Header *****/

.page-header .menu-link:hover,
.page-header .menu-link:focus {
  color: var(--color-text-hover-focus);
}

.page-header {
  border-bottom: 1px solid var(--color-border);
}

.container {
  justify-content: space-between;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-header .container {
  display: flex;
}

.nav-page {
  display: flex;
  align-items: center;
}

.menu-nav {
  display: flex;
}

.page-header .menu-item:not(:last-child) {
  margin-right: 40px;
}

/* .page-header .menu-item:last-child {
  margin-right: 0;
} */

.link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
  margin-right: 76px;
}

.nav-page .logo-chank {
  color: var(--color-text-sec);
}

.menu-nav .menu-link {
  font-weight: 500;
  color: var(--color-text-sec);
}

.page-header .menu-link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-address {
  display: flex;
}

.address-header {
  font-style: normal;
}

.menu-address .menu-link {
  color: var(--color-text-head);
}

/***** /Header *****/

/* ***** Hero 1 ***** */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--color-text-sec);
}

.title-page {
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  color: var(--bg-color-head);
}

.button-order {
  margin-right: auto;
  margin-left: auto;
  display: block;

  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--bg-color-head);
  background: var(--color-logo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-order:hover,
.button-order:focus {
  background-color: var(--color-text-hover-focus);
}
/* ***** /Hero  ***** */

/* ***** Skills 2 ***** */
.skills {
  padding-top: 120px;
  padding-bottom: 120px;
}

.menu-skills {
  display: flex;
  column-gap: 24px;
}

.menu-skills .menu-item {
  width: calc((100% - 3 * 24px) / 4);
}

.title-description {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text-sec);
}
/* ***** /Skills ***** */

/* ***** Our Work 3 ***** */

.our-work {
  padding-bottom: 120px;
}

.menu-our-work {
  display: flex;
  column-gap: 24px;
}

.menu-our-work .menu-item {
  width: calc((100% - 2 * 24px) / 3);
}

.title-section {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-text-sec);
}
/* ***** /Our Work ***** */

/* ***** Our Team 4 ***** */

.our-team {
  background-color: var(--color-white-light);
  padding-top: 120px;
  padding-bottom: 120px;
}

.menu-our-team {
  display: flex;
  column-gap: 24px;
}

.menu-our-team .menu-item {
  background-color: var(--bg-color-head);
  width: calc((100% - 2 * 24px) / 3);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-description {
  padding: 32px 16px;
}

.container-description .title-description {
  text-align: center;
  margin-bottom: 8px;
}

.container-description .description {
  text-align: center;
}

/* ***** /Our Team ***** */

/* ***** Footer ***** */
.footer-page {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--color-text-sec);
}

.footer-page .description {
  max-width: 264px;
  color: var(--color-white-light);
}

.footer-page .logo-chank {
  color: var(--color-white-light);
}

.footer-page .link-logo {
  display: inline-block;
  margin-bottom: 16px;
}

/* ***** Hero-Portfolio ***** */

.hero-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.menu-button {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  column-gap: 24px;
}

.button-filter {
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-logo);
  background-color: var(--color-white-light);
  border: 1px solid var(--color-border);
  border-radius: 4px;
}

.button-filter:hover,
.button-filter:focus {
  color: var(--bg-color-head);
  background: var(--color-text-hover-focus);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

.menu-img {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.container-card {
  padding: 32px 16px;
  border: 1px solid var(--color-border);
  border-top: none;
}

.menu-img .menu-item:first-child {
  width: calc((100% - 48px) / 3);
}

.title-description {
  margin-bottom: 8px;
}

.menu-img .description {
  color: var(--color-text-head);
}

/* ***** /Hero-Portfolio ***** */
